<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film List</title>
</head>

<body>
    <h1>Films</h1>
    {% block content %}
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Rental Rate</th>
            <th>Release Year</th>
            <th>Rating</th>
        </tr>
        {% for film in film_list %}
        <tr>
            <th>{{ film.film_id }}</th>
            <th>{{ film.title }}</th>
            <th>{{ film.rental_rate }}</th>
            <th>{{ film.release_year }}</th>
            <th>{{ film.rating }}</th>
            
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>

</html>